.cloumn {
    width: 300px;
    float: left;
    background-color: azure;
}
.cloumn1 {
    width: 300px;
    float: left;
    background-color: cadetblue;
}
.cloumn2 {
    width: 300px;
    float: left;
    background-color: crimson;
}